<header class="cabecalho navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="cabecalho-logo" href="/">Logo.</a>
        <div class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="cabecalho-botao-icone bi bi-list"></i>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarTogglerDemo02"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="cabecalho-logo offcanvas-title" id="navbarTogglerDemo02">Logo.</h5>
                <i data-bs-dismiss="offcanvas" aria-label="Close" class="botao-fechar-navbar bi bi-x-lg"></i>
            </div>
            <div class="offcanvas-body">
                <nav class="cabecalho-nav navbar-nav justify-content-end flex-grow-1 pe-3">
                    {{#if isAuthenticated}}
                    {{#if isHomePage}}
                    <a class="nav-link" href="admin/usuarios" aria-current="page">Usuarios</a>
                    {{/if}}
                    <a class="nav-link botao-logout" href="/admin/logout">Sair</a>
                    {{else}}
                    {{#if isHomePage}}
                    <a class="nav-link" href="usuario/cadastro" aria-current="page">Cadastre-se</a>
                    <a class="nav-link" href="admin/login" aria-current="page">Login para admin</a>
                    {{/if}}
                    {{/if}}
                </nav>
            </div>
        </div>
    </div>
</header>