@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	outline: none;
	scroll-behavior: none;
	border: none;
}

body {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}

.cabecalho {
	padding: 0.9rem 2%;
	display: flex;
	width: 100%;
	background-color: rebeccapurple;
	transition: .3s;
	height: 70px;
}

.offcanvas-end {
	background-color: rebeccapurple;
	padding: 1rem 2%;
}

.offcanvas-end a {
	font-size: 1rem;
	color: white;
}

.offcanvas-header i {
	color: white;
	font-size: 2.4rem;
}

.offcanvas-header i:hover {
	color: rgb(225, 223, 223);
	;
}

.botao-fechar-navbar::before {
	font-size: 1.5rem;
	cursor: pointer;
}

.cabecalho-logo {
	cursor: pointer;
	font-size: 1.5rem;
	color: white;
	font-weight: 600;
	text-decoration: none;
}

.cabecalho-logo:hover {
	color: rgb(225, 223, 223);
}

.navbar-toggler {
	border: none;
}

.cabecalho-botao-icone {
	font-size: 1.7rem;
	color: white;
	cursor: pointer;
}

.cabecalho-nav {
	display: flex;
	gap: 14px;
}

.cabecalho-nav a, .botao-logout {
	font-size: 1rem;
	font-weight: 500;
	color: white;
	cursor: pointer;
}

.cabecalho-nav a:hover {
	color: rgb(225, 223, 223);
}

.botao-logout:hover {
	color: rgb(225, 223, 223);
}


.section {
	padding: 50px 10%;
}

.usuarios-card {
	max-width: 300px;
}

.botao-addAdmin {
	margin-bottom: 20px;
}


.alert {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	/* Garante que o alerta esteja na frente de outros elementos */
	opacity: 0;
	/* Inicialmente invisível */
	animation: drop-alert 0.5s ease-out forwards;
	/* Animação de drop */
}

.wrapper {
	flex: 1;
  }
  
  .content {
	/* Adicione margem inferior igual à altura do rodapé para evitar que o conteúdo fique atrás do rodapé */
	margin-bottom: 50px; /* Ajuste conforme necessário */
  }
  
  .footer {
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	margin-top: auto; /* Mantém o rodapé no final, mesmo quando o conteúdo é pequeno */
  }

@keyframes drop-alert {
	from {
		top: -50px;
		/* Inicialmente acima da tela */
		opacity: 0;
	}

	to {
		top: 0;
		/* Finalmente na parte superior da tela */
		opacity: 1;
	}
}

@media (max-width:500px) {
	.botao-addAdmin {
		margin-bottom: 20px;
		font-size: 12px;
	}

	.alert {
		font-size: 15px;
		width: 70%;
	}
}