<section class="formulario-cadastro">
    <div class="card">
         <h1>Cadastro de usuário</h1>
    <form action="/usuario/cadastro" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="telefone" required>

        <button type="submit">Cadastrar</button>
    </div>
   
</section>